body, html {
	width: 100%;height: 100%;margin:0;font-family:"微软雅黑"
}
.map1,.map2{
	float: left;
	width: 50%;
	height: 100%
}
#mymap,#mymap2{
	width:500px;
	height:500px;
}
p{margin-left:5px; font-size:14px;}